<nav>
  <ul>
    <li>
      <a>Masters</a>
      <ul>
        <li><a routerLink="/masters/main-ledger">Main Ledger</a></li>
        <li><a routerLink="/masters/sub-ledger">Sub Ledger</a></li>
        <li><a routerLink="/masters/product-name">Product Name</a></li>
        <li><a routerLink="/masters/opening-balance">Opening Balance</a></li>
      </ul>
    </li>
    <li>
      <a>Transaction</a>
      <ul>
        <li><a routerLink="/transaction/sale-purchase">Sale/Purchase</a></li>
        <li><a routerLink="/transaction/receipt-delivery">Receipt/Delivery</a></li>
        <li><a routerLink="/transaction/journal">Journal</a></li>
        <li><a routerLink="/transaction/stock-valuation">Stock Valuation</a></li>
        <li><a routerLink="/transaction/booking-cancellation">Booking Cancellation</a></li>
      </ul>
    </li>
    <li>
      <a>Reports</a>
      <ul>
        <li><a routerLink="/reports/ledger">Ledger</a></li>
        <li><a routerLink="/reports/party-balance">Party Balance</a></li>
        <li><a routerLink="/reports/stock">Stock</a></li>
        <li><a routerLink="/reports/daybook">Daybook</a></li>
      </ul>
    </li>
    <li><a routerLink="/utility">Utility</a></li>
    <li><a routerLink="/logout">Logout</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>